<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">
    <nav class="main-nav navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Toduo</a>
            </div>
      {{#if currentUser}}
          <ul class="nav nav-pills navbar-right">
              <li><a href="#" class="js-logout">Logout</a></li>
          </ul>
      {{else}}
          <ul class="nav nav-pills navbar-right">
              <li><a href="{{pathFor 'signin'}}">Sign In</a></li>
              <li><a href="{{pathFor 'join'}}">Join</a></li>
          </ul>
      {{/if}}
        </div>
    </nav>
    {{#if currentUser}}
    <section id="menu">

        <div class="list-todos">
            <a class="list-todo" href="#" title="Input">
                Input
            </a>
            <a class="list-todo" href="#" title="Today">
                Today
            </a>
            <a class="list-todo" href="#" title="This week">
                This week
            </a>
            <a class="list-todo" href="#" title="Next">
                Next
            </a>
            <a class="list-todo" href="#" title="Waiting">
                Waiting
            </a>
            <a class="list-todo" href="#" title="Scheduled">
                Scheduled
            </a>
            <a class="list-todo" href="#" title="Someday">
              Someday
            </a>
            <a class="list-todo" href="#" title="Projects">
                Projects
            </a>

            <a class="list-todo" href="#" title="Review">
                Review
            </a>
            <a class="list-todo" data-toggle="collapse" href="#collapseOther" title="Other">
                Other
            </a>
            <div class="collapse" id="collapseOther">
                <div class="list-todos">
                    <a class="list-todo sub-menu" title="Reference">Reference</a>
                    <a class="list-todo sub-menu" title="Archive">Archive</a>
                    <a class="list-todo sub-menu" title="Trash">Trash</a>
                    <a class="list-todo sub-menu" title="Areas">Areas</a>
                    <a class="list-todo sub-menu" title="Contexts">Contexts</a>
                </div>
            </div>
            <a class="list-todo" data-toggle="collapse" href="#collapseCustom" title="Custom lists">
              Custom lists
            </a>
        </div>
        <div class="collapse" id="collapseCustom">
            <div class="list-todos">
                <a class="js-new-list link-list-new sub-menu"><span class="icon-plus"></span>New List</a>

              {{#each lists}}
                  <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}} sub-menu" title="{{name}}">
                    {{#if userId}}
                        <span class="icon-lock"></span>
                    {{/if}}
                    {{#if incompleteCount}}
                        <span class="count-list">{{incompleteCount}}</span>
                    {{/if}}
                    {{name}}
                  </a>
              {{/each}}

            </div>
        </div>


      <!--{{#if currentUser}}-->
          <!--<div class="btns-group-vertical">-->
              <!--<a href="#" class="js-user-menu btn-secondary">-->
                <!--{{#if userMenuOpen}}-->
                    <!--<span class="icon-arrow-up"></span>-->
                <!--{{else}}-->
                    <!--<span class="icon-arrow-down"></span>-->
                <!--{{/if}}-->
                <!--{{emailLocalPart}}-->
              <!--</a>-->
            <!--{{#if userMenuOpen}}-->
                <!--<a class="js-logout btn-secondary">Logout</a>-->
            <!--{{/if}}-->
          <!--</div>-->
      <!--ç-->
          <!--<div class="btns-group">-->
              <!--<a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>-->
              <!--<a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>-->
          <!--</div>-->
      <!--{{/if}}-->
    </section>
    {{else}}

    {{/if}}

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container" class="{{hideMenu}}">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>
</template>