<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">
    <nav class="main-nav navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Toduo</a>
            </div>
      {{#if currentUser}}
          <ul class="nav nav-pills navbar-right">
              <li><a href="#" class="js-logout">Logout</a></li>
          </ul>
      {{else}}
          <ul class="nav nav-pills navbar-right">
              <li><a href="{{pathFor 'signin'}}">Sign In</a></li>
              <li><a href="{{pathFor 'join'}}">Join</a></li>
          </ul>
      {{/if}}
        </div>
    </nav>
    {{#if currentUser}}
    <section id="menu">

        <div class="list-todos content-scrollable">
            <a class="list-todo" href="#" name="inbox" title="Inbox">
                Inbox
            </a>
            <a class="list-todo" href="#" name="today" title="Today">
                Today
            </a>
            <a class="list-todo" href="#" name="week" title="This week">
                This week
            </a>
            <a class="list-todo" href="#" name="next" title="Next">
                Next
            </a>
            <a class="list-todo" href="#" name="waiting" title="Waiting">
                Waiting
            </a>
            <a class="list-todo" href="#" name="schedule" title="Scheduled">
                Scheduled
            </a>
            <a class="list-todo" href="#" name="someday" title="Someday">
              Someday
            </a>
            <a class="list-todo" data-toggle="collapse" href="#collapseProjects" name="projects" title="Projects">
                Projects<i id="projects-more" class="md-expand-more md-icon-right"></i>
            </a>
            <div class="collapse" id="collapseProjects">
                <div class="list-todos">
                    <a class="list-todo sub-menu" data-parent="projects" name="project 1" title="Project 1">Project 1</a>
                    <a class="list-todo sub-menu" data-parent="projects" name="project 2" title="Project 2">Project 2</a>
                    <a class="list-todo sub-menu" data-parent="projects" name="project 3" title="Project 3">Project 3</a>
                    <a class="list-todo sub-menu" data-parent="projects" name="project 4" title="Project 4">Project 4</a>
                    <a class="list-todo sub-menu" data-parent="projects" name="project 5" title="Project 5">Project 5</a>
                </div>
            </div>
            <a class="list-todo" href="#" name="review" title="Review">
                Review
            </a>
            <a class="list-todo" data-toggle="collapse" href="#collapseOther" name="other" title="Other">
                Other<i id="other-more" class="md-expand-more md-icon-right"></i>
            </a>
            <div class="collapse" id="collapseOther">
                <div class="list-todos">
                    <a class="list-todo sub-menu" data-parent="other" name="Reference" title="Reference">Reference</a>
                    <a class="list-todo sub-menu" data-parent="other" name="Archive" title="Archive">Archive</a>
                    <a class="list-todo sub-menu" data-parent="other" name="Trash" title="Trash">Trash</a>
                    <a class="list-todo sub-menu" data-parent="other" name="Areas" title="Areas">Areas</a>
                    <a class="list-todo sub-menu" data-parent="other" name="Contexts" title="Contexts">Contexts</a>
                </div>
            </div>
            <a class="list-todo" data-toggle="collapse" href="#collapseCustom" name="custom" title="Custom lists">
              Custom lists<i id="custom-more" class="md-expand-more md-icon-right"></i>
            </a>
            <div class="collapse" id="collapseCustom">
                <div class="list-todos">
                    <a class="js-new-list link-list-new sub-menu"><span class="icon-plus"></span>New List</a>

                    {{#each lists}}
                        <a href="{{pathFor 'listsShow'}}" class="list-todo sub-menu" data-parent="custom" name="{{name}}"  title="{{name}}">
                            {{#if userId}}
                                <span class="icon-lock"></span>
                            {{/if}}
                            {{#if incompleteCount}}
                                <span class="count-list">{{incompleteCount}}</span>
                            {{/if}}
                            {{name}}
                        </a>
                    {{/each}}

                </div>
            </div>
        </div>
    </section>
    {{/if}}

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container" class="{{hideMenu}}">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>
</template>